<%- include("partials/header"); -%>



    <div class="container">
      <section class="sections">
        <form class="searchBar center" action="/" method="POST">
          <select class="" name="category">
             <option value="all" selected>all</option>
             <option value="men's clothing">men's clothing</option>
             <option value="jewelery">jewelery</option>
             <option value="electronics">electronics</option>
             <option value="women's clothing">women's clothing</option>
          </select>
          <input type="text" name="search_input">
          <input type="submit" name="button" value="search">
        </form>
      </section>
      <section class="sections">
        <div class="grid center">
          <% products.map(product => { %>
            <form action="/addToCart" method="POST">
              <input type="image" src="<%= product.image %>" class="product-img" name="itemImage" alt="" />
              <input class="product-input" type="text" name="itemName" value="<%=product.title%>" readonly/>
              <input class="product-input" type="text" name="itemPrice" value="$ <%=product.price%>" readonly/>
              <input class="product-btn" type="submit" name="button"
              value="Add to cart" />
            </form>
          <% })%>
        </div>
      </section>
    </div>


<%- include("partials/footer"); -%>
