<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

    <div class="container">
      <section class="sections">
        <form class="searchBar center" action="/" method="POST">
          <select class="" name="category">
             <option value="all" <%=category === 'all' ? 'selected' : '' %>>all</option>
             <option value="men's clothing" <%=category === "men's clothing" ? 'selected' : '' %>>men's clothing</option>
             <option value="jewelery" <%=category === "jewelery" ? 'selected' : '' %>>jewelery</option>
             <option value="electronics" <%=category === "electronics" ? 'selected' : '' %>>electronics</option>
             <option value="women's clothing" <%=category === "women's clothing" ? 'selected' : '' %>>women's clothing</option>
          </select>
          <input type="text" name="search_input" value="<%= searchInput %>">
          <input type="submit" name="button" value="search">
        </form>
      </section>
      <section class="sections">
        <ul class="center product-list">
          <% products.map(product => { %>
            <li class="product-lists">
              <img src="<%= product.image %>" class="product-img" alt="">
              <h3><%=product.title%></h3>
              <h4>$<%=product.price%></h4>
              <button class="product-btn" type="button" name="button">Add to cart</button>
            </li>
          <% })%>
        </ul>
      </section>
    </div>

<%- include("partials/footer"); -%>
