<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

    <div class="container">
      <section class="sections">
        <form class="searchBar center" action="/search" method="POST">
          <select class="" name="category">
             <option value="all" <%=category === 'all' ? 'selected' : '' %>>all</option>
             <option value="men's clothing" <%=category === "men's clothing" ? 'selected' : '' %>>men's clothing</option>
             <option value="jewelery" <%=category === "jewelery" ? 'selected' : '' %>>jewelery</option>
             <option value="electronics" <%=category === "electronics" ? 'selected' : '' %>>electronics</option>
             <option value="women's clothing" <%=category === "women's clothing" ? 'selected' : '' %>>women's clothing</option>
          </select>
          <input type="text" name="search_input" value="<%= searchInput %>">
          <input type="submit" name="button" value="search">
        </form>
      </section>
      <section class="sections">
        <form class="" action="/search" method="post">
          <ul class="center product-list">
            <% products.map(product => { %>
              <li class="product-lists">
                <img src="<%= product.image %>" class="product-img" name="itemImage" alt="">
                <h3 name="itemName"><%=product.title%></h3>
                <h4 name="itemPrice">$<%=product.price%></h4>
                <input class="product-btn" type="submit" name="button" value="Add to cart">
              </li>
            <% })%>
          </ul>
        </form>
      </section>
    </div>

<%- include("partials/footer"); -%>
